@define-color foreground #cdd6f4;
@define-color background #181824;

* {
  background-color: @background;
  color: @foreground;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12pt;
  border-radius: 0;
  min-height: 0;
  border: none;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio,
#network,
#bluetooth {
  min-width: 12px;
  margin: 0 10px;
}

#custom-power {
  margin-left: 8px;
  margin-right: 4px;
  padding: 0 6px;
  font-size: 13pt;
}

#tray {
  margin-right: 16px;
}

#custom-expand-icon {
  margin-right: 20px;
}

tooltip {
  padding: 2px;
}

#clock {
  margin-left: 8.75px;
  font-size: 13pt;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: 400;
}

.hidden {
  opacity: 0;
}
